.tab {
    overflow: hidden;
    border: 0;
    background-color: #ff0000;
}
.tab button {
    background-color: #628f76;
    color: #1e1018;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 9px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ccab84;
}
.tab button.active {
    background-color: #ccab84;
}
.tabcontent {
    display: none;
    padding: 6px 0;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}
